.page[b-t5rxf7ej8s] {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.main[b-t5rxf7ej8s] {
  flex: 1;
  background-color: #231438;
  background-image: linear-gradient(45deg, #231438, #471991);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar[b-t5rxf7ej8s] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.content[b-t5rxf7ej8s] {
  height: 100%;
}

.top-row[b-t5rxf7ej8s] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-t5rxf7ej8s]  a,
.top-row .btn-link[b-t5rxf7ej8s] {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.top-row a:first-child[b-t5rxf7ej8s] {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row:not(.auth)[b-t5rxf7ej8s] {
    display: none;
  }

  .top-row.auth[b-t5rxf7ej8s] {
    justify-content: space-between;
  }

  .top-row a[b-t5rxf7ej8s],
  .top-row .btn-link[b-t5rxf7ej8s] {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-t5rxf7ej8s] {
    flex-direction: row;
  }

  .sidebar[b-t5rxf7ej8s] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-t5rxf7ej8s] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .main > div[b-t5rxf7ej8s] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
